* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  text-align: center;
}

.tab {
   font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #ED985F;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

.active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.tab-content {
  display: none;
  text-align: center;
  padding: 30px;
}

.show {
  display: block;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 50px;
background: #001F3D;
box-shadow: inset 20px 20px 29px #001d38,
            inset -20px -20px 29px #002142;
}

.content 
{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #E6E6E6;

}